<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mvcboard.mybatis.mapper.MVCBoardMapper">
  <!-- 게시글 작성 메소드 매핑 -->
  <insert id="insertWrite" parameterType="com.example.mvcboard.MVCBoardDTO">
    INSERT
    INTO mvcboard(name, title, content, ofile, sfile, pass)
    VALUES (#{name}, #{title}, #{content}, #{ofile}, #{sfile}, #{pass})
  </insert>
</mapper>