<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mvcboard.mybatis.mapper.MVCBoardMapper">
  <!-- 게시글 작성 메소드 매핑 -->
  <insert id="insertWrite" parameterType="com.example.mvcboard.MVCBoardDTO">
    INSERT
    INTO mvcboard(name, title, content, ofile, sfile, pass)
    VALUES (#{name}, #{title}, #{content}, #{ofile}, #{sfile}, #{pass})
  </insert>
  <!-- 게시판 읽기 (페이징) 매핑 -->
  <select id="selectCount" parameterType="map" resultType="int">
    SELECT COUNT(*) FROM mvcboard
    <if test="searchWord != null and !searchWord.equals('')">
      WHERE
      <choose>
        <when test="searchField == 'title'">
          title like concat('%', #{searchWord}, '%')
        </when>
        <otherwise>
          content like concat('%', #{searchWord}, '%')
        </otherwise>
      </choose>
    </if>
    ORDER BY idx DESC
  </select>
  <select id="selectListPage" parameterType="map" resultType="com.example.mvcboard.MVCBoardDTO">
    SELECT *
    FROM (SELECT @ROWNUM := @ROWNUM + 1 AS ROWNUM, b.*
    FROM  mvcboard b,(SELECT @ROWNUM := 0 ) TMP
    <if test="searchWord != null and !searchWord.equals('')">
      WHERE
      <choose>
        <when test="searchField == 'title'">
          title like concat('%', #{searchWord}, '%')
        </when>
        <otherwise>
          content like concat('%', #{searchWord}, '%')
        </otherwise>
      </choose>
    </if>
    ORDER BY idx DESC ) T
    WHERE ROWNUM BETWEEN #{start} AND #{end}
  </select>
  <select id="selectView" parameterType="String" resultType="com.example.mvcboard.MVCBoardDTO">
    SELECT *
    FROM mvcboard
    WHERE idx = #{idx}
  </select>
  <update id="updateVisitCount" parameterType="String">
    UPDATE mvcboard
    SET visitcount = visitcount + 1
    WHERE idx = ${idx}
  </update>
  <update id="downCountPlus" parameterType="String">
    UPDATE mvcboard
    SET downcount = downcount + 1
    WHERE idx = ${idx}
  </update>
  <select id="confirmPassword" parameterType="map" resultType="int">
    SELECT COUNT(*)
    FROM mvcboard
    WHERE pass = #{pass}
    AND idx = #{idx}
  </select>
  <delete id="deletePost" parameterType="String">
    DELETE
    FROM mvcboard
    WHERE idx = #{idx}
  </delete>
  <update id="updatePost" parameterType="com.example.mvcboard.MVCBoardDTO">
    UPDATE mvcboard
    SET title = #{title}, name = #{name}, content = #{content}, ofile = #{ofile}, sfile = #{sfile}
    WHERE idx = #{idx} AND pass = #{pass}
  </update>
</mapper>
