<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
  <!-- 드라이버 이름 -->
  <context-param>
    <param-name>MariaDriver</param-name>
    <param-value>org.mariadb.jdbc.Driver</param-value>
  </context-param>
  <!-- 접속 URL -->
  <context-param>
    <param-name>MariaURL</param-name>
    <param-value>jdbc:mariadb://localhost:3306/mvcboard</param-value>
  </context-param>
  <!-- 계정 아이디 -->
  <context-param>
    <param-name>MariaID</param-name>
    <param-value>root</param-value>
  </context-param>
  <!-- 패스워드 -->
  <context-param>
    <param-name>MariaPwd</param-name>
    <param-value>12345</param-value>
  </context-param>
  <!-- Nov 17. 2023. 22:27 추가 : 목록에 대한 매핑 -->
  <!-- 서블릿 이름과 클래스 -->
  <servlet>
    <servlet-name>MVCBoardList</servlet-name>
    <servlet-class>mvcboard.ListController</servlet-class>
  </servlet>
  <!-- 서블릿 이름과 요청명 -->
  <servlet-mapping>
    <servlet-name>MVCBoardList</servlet-name>
    <url-pattern>/mvcboard/list.do</url-pattern>
  </servlet-mapping>
  <!-- 목록에 대한 매핑 수정 끝 (22:31) -->
</web-app>
