<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
  <!-- 드라이버 이름 -->
  <context-param>
    <param-name>MariaDriver</param-name>
    <param-value>org.mariadb.jdbc.Driver</param-value>
  </context-param>
  <!-- 접속 URL -->
  <context-param>
    <param-name>MariaURL</param-name>
    <param-value>jdbc:mariadb://localhost:3306/mvcboard</param-value>
  </context-param>
  <!-- 계정 아이디 -->
  <context-param>
    <param-name>MariaID</param-name>
    <param-value>root</param-value>
  </context-param>
  <!-- 패스워드 -->
  <context-param>
    <param-name>MariaPwd</param-name>
    <param-value>12345</param-value>
  </context-param>

  <!-- Nov 17. 2023. 22:55 추가 : 페이징 설정값 -->
  <!-- 한 페이지에 출력할 게시물의 개수 설정 -->
  <context-param>
    <param-name>POSTS_PER_PAGE</param-name>
    <param-value>10</param-value>
  </context-param>
  <!-- 한 화면에 출력할 페이지 번호의 개수 설정 -->
  <context-param>
    <param-name>PAGES_PER_BLOCK</param-name>
    <param-value>5</param-value>
  </context-param>
  <!-- 페이징 설정값 추가 완료 (22:57) -->

  <!-- Nov 17. 2023. 22:27 추가 : 목록 보기 기능에 대한 매핑 -->
  <!-- 서블릿 이름과 클래스 -->
  <servlet>
    <servlet-name>MVCBoardList</servlet-name>
    <servlet-class>mvcboard.ListController</servlet-class>
  </servlet>
  <!-- 서블릿 이름과 요청명 -->
  <servlet-mapping>
    <servlet-name>MVCBoardList</servlet-name>
    <url-pattern>/mvcboard/list.do</url-pattern>
  </servlet-mapping>
  <!-- 목록에 대한 매핑 수정 끝 (22:31) -->

  <!-- Nov 18. 2023. 00:26 추가 : 글쓰기, 상세 보기, 다운로드 기능에 대한 매핑 -->
  <!-- 글쓰기 서블릿 매핑 -->
  <servlet>
    <servlet-name>MVCBoardWrite</servlet-name>
    <servlet-class>mvcboard.WriteController</servlet-class>
    <!-- Nov 19. 2023. 03:13 추가 : 글쓰기 기능 매핑 수정 - 파일 업로드에 사용할 Multipart 설정 -->
    <multipart-config>
      <max-file-size>1048576</max-file-size>  <!-- 1MB -->
      <max-request-size>10485760</max-request-size>  <!-- 10MB -->
    </multipart-config>
  </servlet>

  <servlet-mapping>
    <servlet-name>MVCBoardWrite</servlet-name>
    <url-pattern>/mvcboard/write.do</url-pattern>
  </servlet-mapping>
  <!-- 상세 보기 서블릿 매핑 -->
  <servlet>
    <servlet-name>MVCBoardView</servlet-name>
    <servlet-class>mvcboard.ViewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MVCBoardView</servlet-name>
    <url-pattern>/mvcboard/view.do</url-pattern>
  </servlet-mapping>
  <!-- 다운로드 서블릿 매핑 -->
  <servlet>
    <servlet-name>MVCBoardDownload</servlet-name>
    <servlet-class>mvcboard.DownloadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MVCBoardDownload</servlet-name>
    <url-pattern>/mvcboard/download.do</url-pattern>
  </servlet-mapping>
  <!-- 서블릿 매핑 끝 (00:36) -->
</web-app>
